body {
  background-color: #66c2ff;
}
h2 {
  text-align: center;
  margin-bottom: 50px;
}
.car-direction {
  width: 100%;
}
.car-direction td:first-child {
  width: 25%;
}
.car-direction td:last-child {
  width: 75%;
}
.car-direction-1 {
  margin-left: 100px;
  text-align: center;
}
.car-direction-1 img {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 25px;
  background: #ffa31a;
  padding: 10px; 
}
.car-direction-2 {
  text-align: right;
  margin-right: 100px;
}
.car-direction-2 img {
  width: 100px;
  margin-left: 20px;
  border-radius: 25px;
  background: #ffa31a;
  padding: 10px; 
}
.borderless {
  width: auto !important;
  float: none;
  margin:0 auto;
}
.borderless tbody tr td {
  border: none;
  padding: 0;
  text-align: center;
}
table img {
  width: 75px;
}
.fire {
  border-radius: 25px;
  background: #ff0000;
  padding: 10px; 
}
.carousel-indicators li { 
  visibility: hidden; 
}
.carousel-control.left, .carousel-control.right {
  background-image: none
}
.chevron{
  width: 30%;
  position: absolute;
  top: 50%;
}
.chevron-left{
  left: 5%;
}
.chevron-right{
  right: 5%;
}
